name: Generate Snake Contribution Graph

on:
schedule:
- cron: "0 0 * * *"   # runs daily
workflow_dispatch:
push:
branches:
- main

jobs:
generate:
runs-on: ubuntu-latest
timeout-minutes: 10

steps:
  - name: Checkout repository
    uses: actions/checkout@v3

  - name: Generate snake animation
    uses: Platane/snk@v3
    with:
      github_user_name: ibnsina-92
      outputs: |
        output/github-contribution-grid-snake.svg
        output/github-contribution-grid-snake-dark.svg?palette=github-dark

  - name: Push snake animation
    uses: crazy-max/ghaction-github-pages@v3
    with:
      target_branch: output
      build_dir: output
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
